<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>列表过滤</title>
        <!-- 引入vue -->
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>

    <body>
     
    <div id="root">
        
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="(p,index) of filProsons" :key="index">姓名：{{p.name}}-年龄:{{p.age}}--{{index}}-性别：{{p.sex}}</li>
        </ul>
        
        
    </div>


    <script type="text/javascript">
        Vue.config.productionTip = false;//阻止vue在启动时产生提示
        //用watch 实现
    //   const vm =     new Vue({ 
    //   el: '#root',
    //   data:{
    //     keyWord:'',
    //     prosons:[
    //         {id:'001',name:'马冬梅',age:18,sex:'女'},
    //         {id:'002',name:'周冬雨',age:19,sex:'女'},
    //         {id:'003',name:'周杰伦',age:20,sex:'男'},
    //         {id:'004',name:'温兆伦',age:21,sex:'男'},
    //     ],
    //     filProsons:[]
        
    //   },
    //   watch:{
    //     keyWord:{
    //         immediate:true,
    //         handler(val){
    //             // console.log('keyWord被改了',  val)
    //             this.filProsons = this.prosons.filter((p)=>{
    //             // 函数体
    //             return p.name.indexOf(val) !== -1
    //             })
    //         }
            
    //     }
    //   }
    //   });

      const vm =     new Vue({ 
      el: '#root',
      data:{
        keyWord:'',
        prosons:[
            {id:'001',name:'马冬梅',age:18,sex:'女'},
            {id:'002',name:'周冬雨',age:19,sex:'女'},
            {id:'003',name:'周杰伦',age:20,sex:'男'},
            {id:'004',name:'温兆伦',age:21,sex:'男'},
        ],
        
      },
      computed:{
        filProsons(){
           return this.prosons.filter((p)=>{
                // 函数体
                return p.name.indexOf(this.keyWord) !== -1
                })
        }

      }
     
      });

    </script>
        
    </body>
</html>
